p {
  margin: 0;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &.is-tutor {
    border-bottom: 4px solid;
  }
  .is-tutor {
    border: 4px solid;
  }
  .image {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    img {
      width: 100%;
    }
  }
  .titlename {
    display: flex;
    justify-content: space-between;
    .name {
      font-weight: bold;
      position: relative;
      span {
        position: absolute;
        top: 2.1em;
      }
    }
  }
  .check {
    display: flex;
    .checkbox {
      display: inline-block;
      position: relative;
      padding-left: 2em;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked ~ .checkmark:after {
          display: block;
        }
      }
      .checkmark {
        position: absolute;
        left: 0;
        height: 20px;
        width: 20px;
        border-radius: 2px;
        border: 1px solid;
        &:after {
          content: "";
          position: absolute;
          display: none;
          width: 5px;
          height: 10px;
          border: solid;
          border-width: 0 1.5px 1.5px 0;
          transform: rotate(45deg);
          left: 0.4em;
          bottom: 0.3em;
        }
      }
    }
  }
}

.content {
  padding: 2em;
  padding-bottom: 1em;
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:last-child {
        width: 50%;
      }
    }
  }
}

.answer {
  margin-top: 1em;
  textarea {
    width: 100%;
    height: 100%;
    outline: none;
    background: none;
    padding: 1em;
    border: 2px solid;
  }
}
.pipe {
  height: 30px;
  width: 1px;
  border: 1px solid;
}
.rate-tooltip {
  padding: 0.5em;
  position: absolute;
  width: 8em;
  border: 1px solid;
  background: white;
  top: 1em;
}
.like-tooltip {
  background: white;
  border: 1px solid;
  padding: 0.5em;
  position: absolute;
  right: 0em;
  width: 65%;
  top: 2em;
  .users,
  .plus {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .image {
    width: 50px;
    height: 50px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .plus {
    width: 50px;
    height: 50px;
    justify-content: center;
    cursor: pointer;
  }
}

.modal-body {
  .users {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 1em;
    justify-content: space-between;
    align-items: center;
    .user {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title {
        font-weight: bold;
      }
      .image {
        width: 50px;
        height: 50px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.background-masker {
  &.image {
    width: 50px;
    height: 50px;
    top: 1em;
    left: 2em;
  }
  &.title {
    width: 370px;
    height: 17px;
    top: 1em;
    left: 6em;
  }
  &.subtitle {
    width: 60px;
    height: 18px;
    top: 2.5em;
    left: 6em;
  }
  &.label {
    width: 22px;
    height: 12px;
    right: 4em;
    top: 1.3em;
  }
  &.checkbox {
    width: 20px;
    height: 20px;
    top: 1em;
    right: 2em;
  }
  &.text-1,
  &.text-2,
  &.text-3,
  &.text-4 {
    height: 15px;
    left: 2em;
    right: 2em;
  }
  &.text-1 {
    top: 6em;
  }
  &.text-2 {
    top: 7.5em;
    width: 90%;
  }
  &.text-3 {
    top: 9em;
    width: 70%;
  }
  &.text-4 {
    top: 10.5em;
    width: 80%;
  }
  &.footer-1 {
    bottom: 1em;
    width: 195px;
    height: 27px;
    left: 2em;
  }
  &.footer-2 {
    right: 2em;
    bottom: 1em;
    width: 523px;
    height: 30px;
  }
}
::ng-deep .cke_top.cke_reset_all,
::ng-deep .cke_bottom.cke_reset_all {
  display: none !important;
}
