.desktop-filtertable {
  border-collapse: separate;
  border-spacing: 0 0.5em;
  th {
    padding: 1em;
    border-bottom: 5px solid;
    margin-bottom: 1em;
    text-transform: uppercase;
  }
  td {
    padding: 1em;
    &:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
  .foot {
    border-top: 1px solid;
    padding-top: 1em;
  }
}
::ng-deep .pagination {
  margin: 0;
  align-items: center;
  justify-content: flex-end;
  .page-link,
  .page-item {
    border: none;
    background-color: transparent;
    outline: none;
  }
  .page-item {
    &.active .page-link {
      border: none;
      background-color: transparent;
      color: #004387;
    }
    &.disabled .page-link {
      color: #787878!important;
    }
    &:nth-last-child(2) {
      .page-link {
        .pagination-number {
          border: none;
        }
      }
    }
    &:last-child,
    &:first-child {
      .page-link {
        color: #004387;
      }
    }
  }
  .page-link {
    border: none;
    color: #787878;
    outline: none;
    .pagination-number {
      border-right: 1px solid;
      padding: 0;
      padding-right: 0.5em;
    }
  }
}
.image {
  margin-right: 0.5em;
  img {
    width: 150px;
  }
}