<section class="filter">
  <div class="onchange-filter" *ngIf="!isSubmit">
    <div class="fields font-14" [ngStyle]="{color: style?.secondary?.main}">
      <ng-container *ngFor="let filter of filters">
        <div class="field" [ngStyle]='{width: fieldWidth}' *ngIf="filter.type == 'input'">
          <input type="text" (change)="onFilter.emit(filter)" [(ngModel)]="filter.value"
            [placeholder]="filter.placeholder" />
        </div>
        <div class="field" [ngStyle]='{width: fieldWidth}' *ngIf="filter.type == 'select' || filter.type == 'orderBy'">
          <select (change)="onFilter.emit(filter)" [(ngModel)]="filter.value"
            [ngStyle]="{color: style?.secondary?.main}">
            <option value="null" disabled>{{filter.placeholder}}</option>
            <option [value]="option.value" *ngFor="let option of filter.options">{{option.valueLabel}}</option>
          </select>
        </div>
        <div class="field" [ngStyle]='{width: fieldWidth}' *ngIf="filter.type == 'checkbox'">
          <label class="checkbox">
            <input type="checkbox" [(ngModel)]="filter.value" (change)="onFilter.emit(filter)" [id]="filter.id" />
            <span class="checkmark"></span>
            <span class="label">{{filter.label}}</span>
          </label>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="onsubmit-filter" *ngIf="isSubmit">
    <div class="fields font-14" [ngStyle]="{color: style?.secondary?.main}">
      <ng-container *ngFor="let filter of filters">
        <div class="field" [ngStyle]='{width: fieldWidth}' *ngIf="filter.type == 'input'">
          <input type="text" [(ngModel)]="filter.value" [placeholder]="filter.placeholder"
            (change)="selectedFilters[filter.name] = filter.value" />
        </div>
        <div class="field" [ngStyle]='{width: fieldWidth}' *ngIf="filter.type == 'select' || filter.type == 'orderBy'">
          <select [(ngModel)]="filter.value" (change)="selectedFilters[filter.name] = filter.value"
            [ngStyle]="{color: style.secondary.main}">
            <option value="null" disabled>{{filter.placeholder}}</option>
            <option [value]="option.value" *ngFor="let option of filter.options">{{option.valueLabel}}</option>
          </select>
        </div>
        <div class="field" [ngStyle]='{width: fieldWidth}' *ngIf="filter.type == 'checkbox'">
          <label class="checkbox">
            <input type="checkbox" [(ngModel)]="filter.value" [id]="filter.id"
              (change)="selectedFilters[filter.name] = filter.value" />
            <span class="checkmark"></span>
            <span class="label">{{filter.label}}</span>
          </label>
        </div>
        <div class="field" style='width: 70%;' *ngIf="filter.type == 'daterange'">
          <form class="form-inline">
            <div class="form-group hidden">
              <div class="input-group">
                <input name="datepicker" class="form-control d-none" ngbDatepicker #datepicker="ngbDatepicker"
                  [autoClose]="'outside'" (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
                  outsideDays="hidden" [startDate]="fromDate">
                <ng-template #t let-date let-focused="focused">
                  <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                    [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                    (mouseleave)="hoveredDate = null">
                    {{ date.day }}
                  </span>
                </ng-template>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span>Período</span>
                <div class="input-group-prepend">
                  <button class="btn" (click)="datepicker.toggle()" type="button">
                    <i class="fa fa-calendar"></i>
                  </button>
                </div>
                <input #dpFromDate class="form-control" placeholder="yyyy-mm-dd" name="dpFromDate"
                  [value]="formatter.format(fromDate)" (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
              </div>
            </div>
            <div class="form-group ml-2">
              <span>a</span>
              <div class="input-group">
                <div class="input-group-prepend">
                  <button class="btn" (click)="datepicker.toggle()" type="button">
                    <i class="fa fa-calendar"></i>
                  </button>
                </div>
                <input #dpToDate class="form-control" placeholder="yyyy-mm-dd" name="dpToDate"
                  [value]="formatter.format(toDate)" (input)="toDate = validateInput(toDate, dpToDate.value)">
              </div>
            </div>
          </form>
        </div>
      </ng-container>
    </div>
    <div class="buttons">
      <a class="btn cursor-pointer mr-4" [ngStyle]="style?.primary?.background"
        (click)="onFilter.emit(selectedFilters)">Filtrar</a>
      <a class="btn cursor-pointer" [ngStyle]="style.primary.background" (click)="clear()">Limpar</a>
    </div>
  </div>
</section>