<div class="commentcard">
  <header>
    <div class="image">
      <img [src]="comment.senderUrl" [alt]="'tutor'">
    </div>
    <div class="name">
      <div class="image" *ngIf="comment.isTutor">
        <img [src]="'assets/images/tutor.svg'" alt="tutor">
      </div>
      <p>{{comment.senderBy}}</p>
      <span>{{comment.createdAt}}</span>
    </div>
    <div class="check">
      <label>Lido</label>
      <input type="checkbox" [(ngModel)]="comment.read">
    </div>
  </header>
  <div class="content">
    <p>
      {{comment.description}}
    </p>
    <footer>
      <div class="item">
        <a class="btn" (click)="isAnsweer" [ngStyle]="">responder</a>
        <span>{{totalAnswers}} resposta</span>
      </div>
      <div class="item" [ngStyle]="{color: style.primary.main}">
        <span>Relevâcia:</span>
        <ng-container *ngFor="let rate of [1,2,3,4,5]">
          <i [ngClass]="rate < comment.rate ? 'fa fa-star-o' : 'fa fa-star'"></i>
        </ng-container>
        <span [ngStyle]="{color: style.secondary.main}">{{averageRate}}</span>
        <span [ngStyle]="{color: style.secondary.main}">{{totalOpinions}} opinaram</span>
        <div class="pipe" [ngStyle]="{color: style.secondary.main}"></div>
        <a class="btn" [ngStyle]="style.primary.background">curtir</a>
        <span [ngStyle]="{color:  totalLikes === 0 ? style.secondary.main : style.primary.main}">{{totalLikes === 0 ? 'Seja o primeiro a curtir' : 'curtiram'}}</span>
      </div>
    </footer>
  </div>
</div>